body {
    margin: 0;
}

header{
    background-color: #0E60AB;
    margin: 0;
    padding: 10px 10vw;
    display: flex;
}

h1 {
    font-family: Roboto;
    font-size: 45px;
    margin: 0;
}

h1.pet{
    color: white;
}

h1.friends{
    color: #05C1FC;
}

.background{
    height: 60vh;
    margin: 0;
    background-color: #0E60AB;
    display: flex;
    flex-direction: row;
    justify-content: center;
}


h3{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 200%;
    display: flex;
    align-items: center;
    text-align: center;
    color: #000000;
    margin: 0px;
}

.cadastro4{
    margin-top: 40px;
    background-color: #F6F6F6;
    border-radius: 20px;
    height: 100%;
    width: 25%;
    min-height: 500px;
    min-width: 400px;
    display: flex;
    flex-direction: column;
    box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.25);
    align-items: center;
    justify-content: space-around;
    padding-bottom: 20px;
    padding-top: 20px;
}

h2{
    font-family: Merriweather Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: darkslategrey;
}

img {
    border-radius: 20px;
    width: 40%;


}

div#fotos{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

input.button1{
    border-radius: 75px;
    background-color: #05C1FC;
    border: 0px;
    color: white;
    height: 45px;
    width: 70%;
    font-family: Merriweather Sans;
    font-size: 23px;
}

input#botaoadd{
    margin-bottom: 60px;
    background: url(botaomais.png) no repeat;
}
form {
    display: flex;
    flex-direction: column;
    height: 40%;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
}
